<div class="w-100">
  <h1 class="mb-0">{{about.firstNames}}
    <span class="text-primary">{{about.lastNames}}</span>
  </h1>
  <div class="subheading mb-5">{{about.address}} ·<span *ngIf="about.phone"> {{about.phone}} ·</span> <a href="mailto:{{about.email}}"> {{about.email}}</a>
  </div>
  <p class="lead mb-5">
    {{about.description}}
  </p>
  <div class="social-icons">
    <a *ngFor="let social of about.social" [href]="social.url" target="_blank">
      <fa-icon [icon]="[social.lib, social.name]"></fa-icon>
    </a>
  </div>
</div>