<div class="col pb-4 h-100">
  <div class="card h-100 text-white justify-content-center" (mouseenter)="show=true;" (mouseleave)="show=false;"  (click)="openModal()">
    <img [src]="'assets/img/portfolio/'+img" class="card-img-top">
    <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center overlay" *ngIf="show" [@fadeInOut]>
      <h5 class="card-title text-center">{{title}}</h5>
      <div class="d-flex flex-wrap justify-content-center">
        <span *ngFor="let tech of techs" class="pill" [@Bounce]>{{tech}}</span>
      </div>
    </div>
  </div>
</div>