@import "../../variables.scss";
.img-slide {
    width: 20vw;
    display: block;
}
.close {
    position: absolute;
    top:0;
    right: 0;
    width: 24px;
    height: 24px;
    z-index: 1000;
}

.info {
    padding: 15px;
}

.links{
   a {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    background-color: $gray-700;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3rem;
    margin-right: 1rem;
  }
  
  a:last-child {
    margin-right: 0;
  }
  
   a:hover {
    background-color: $primary;
  }
}
  