<button type="button close" class="close pull-right" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
<div class="modal-body d-flex">
  <div class="carousel">
    <carousel class="carousel" [isAnimated]="true">
      <slide>
        <img class="img-slide"  src="assets/img/portfolio/2nait-screenshot.jpg" alt="first slide">
       
      </slide >
      <slide>
        <img class="img-slide" src="assets/img/portfolio/2nait-screenshot1.jpg" alt="second slide" >
      </slide>
      <slide>
        <img class="img-slide"  src="assets/img/portfolio/2nait.jpg" alt="third slide">
      </slide>
    </carousel>
  </div>

  <div class="info d-flex w-100 flex-column">
    <h4>Título del proyecto</h4>
    <div class="subheading">Techs</div>
    <hr class="m-0">
    <div>Descripción</div>
    <div class="links">

    </div>
  </div>

</div>